<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <!-- Font Awesome Pro -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./css/style-home.css">

    <title>K Mitchell Media - Home</title>
  </head>

  <header>
    <div class="container-fluid container-header responsive-img">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img class="logo-item body-item" src="./images/k3-light-resized.png" href="./index.html"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVIGATION -->
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="active nav-link text-white" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- HERO CONTENT -->
      <div class="row">
        <div class="col-12 col-sm-8 col-md-4 header-title-container">
          <h1 class="display-4 header-title text-white">KMM</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-8 col-md-4 header-text-container">
          <p class="lead text-white">
            Where the art of video production and storytelling comes together.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 btn-hero-container">
            <a class="btn btn-primary btn-lg btn-hero-item" role="button" href="./contact.html">Message Us</a>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <body>
    <section class="company-description-section">
      <div class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Video Production and Editing</h1>
          <p class="lead">
            You have a story and we help you tell it.
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row company-desc-container">
          <div class="col-12 col-lg-5 d-flex company-description-text">
            <h3>K Mitchell Media, LLC</h3>
            <p class="lead card-text align-self-start" style="margin-top: 15px;">
              K Mitchell Media is a Phoenix-based boutique video production company focused on helping both businesses and individuals share their unique message in powerful ways through the skillful art of video production and cinematic storytelling.
            </p>
            <p class="lead">
              Watch Kathryn describe in her own words what K Mitchell Media is all about.
            </p>
          </div>
          <div class="col-12 col-lg-6 offset-lg-1 d-flex embed-responsive embed-responsive-16by9 intro-video">
            <iframe
              class="embed-responsive-item ml-md-3 ml-sm-3"
              src="https://player.vimeo.com/video/229499939?title=0&byline=0&portrait=0"
              frameborder="2"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="company-philosophy">
      <div class="container">
        <div class="row vvv-background d-flex justify-content-around">
          <div class="row d-flex justify-content-center">
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
              <h1 class="display-4">Our Philosophy</h1>
              <p class="lead">
                We have a way of doing things. And we think you're gonna like it!
              </p>
            </div>
          </div>
          <div class="row">
            <div class="card-group col-12 col-md-6 col-lg-4">
              <div class="card card-style">
                <div class="card-body">

                  <h5 class="card-title display-5"><i class="fa fa-fire vvv-icon" aria-hidden="true"></i>
                    Virtue
                  </h5>
                  <p class="card-text">The appeal of storytelling is how it authentically shows your high moral standards in facing all of life's events. Primary source documents, testimonies from reliable sources, footage in the field will give layers of integrity.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>

            <div class="card-group col-12 col-md-6 col-lg-4">
              <div class="card card-style">
                <div class="card-body">
                  <h5 class="card-title display-5"><i class="fa fa-lightbulb-o vvv-icon" aria-hidden="true"></i>
                    Vision
                  </h5>
                  <p class="card-text">No matter how vivid, no matter how seemingly impactful, a vision must be understood to be useful. Guided by a mission statement, goal and objectives, key words are identified in the discussion.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>

            <div class="card-group col-12 col-md-6 col-lg-4">
              <div class="card card-style">
                <div class="card-body">
                  <h5 class="card-title display-5"><i class="fa fa-commenting-o vvv-icon" aria-hidden="true"></i>
                    Voice
                  </h5>
                  <p class="card-text">No one else has your set of talents, skills, or brilliance nor experiences life in the same way as you. Using film from the discussion that showcases personality and charm will ensure a personal experience for your audience.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="approach-process">
      <div class="container">
        <div class="row d-flex justify-content-around">
          <div class="card-group col-12 col-md-6">
            <div class="card approach-process mb-5">
              <div class="card-header text-center">
                <h4>Our Approach</h4>
              </div>
              <div class="card-body">

                <img class="float-left" src="./images/handshake-1830760_640.jpg" alt="Unite Image" style="height: 200px; width: 275px; padding-right: 15px;"/>

                <p class="card-text">
                  We approach our work with the underlying goal of raising consciousness and increasing awareness through the art of video production and cinematic storytelling.
                </p>

                <p class="card-text">
                We identify the overarching goal for your production so we can work together to fully develop your message and tell your story in a truthful and compelling way.
                </p>

                <p class="card-text">
                  Our approach is one that is both consultative and collaborative. By identifying an overarching goal for your production, we will uncover and fully develop your message so you can tell your story in a truthful and compelling way.
                </p>

                <p class="card-text">
                  We identify the virtue, vision, and voice of each client so they can be effectively communicated to their target audience(s).
                </p>

                <p class="card-text">
                  We work with our clients using a consultative and collaborative approach, and work to avoid the interview-style way of obtaining important information from our clients.
                </p>

              </div>
            </div>
          </div>

          <div class="card-group col-12 col-md-6">
            <div class="card mb-5">
              <div class="card-header text-center">
                <h4>Our Process</h4>
              </div>
              <div class="card-body">
                <h5 id="process-subtitle" class="lead card-title text-center">
                  There are 5 main parts to our process:
                </h5>
                <ul class="list-unstyled">
                  <li class="process-li">
                    <h5><i class="fa fa-check-square-o process-icon" aria-hidden="true"></i>Consultation</h5>
                    <p>
                      Here is a brief description of the consultation part of the process.
                    </p>
                    <hr />
                  </li>

                  <li>
                    <h5><i class="fa fa-check-square-o process-icon" aria-hidden="true"></i>Pre-Production</h5>
                    <p>
                      Here is a brief description of the pre-production part of the process.
                    </p>
                    <hr />
                  </li>

                  <li>
                    <h5><i class="fa fa-check-square-o process-icon" aria-hidden="true"></i>Production</h5>
                    <p>
                      Here is a brief description of the production part of the process.
                    </p>
                    <hr />
                  </li>

                  <li>
                    <h5><i class="fa fa-check-square-o process-icon" aria-hidden="true"></i>Post-Production</h5>
                    <p>
                      Here is a brief description of the post-production part of the process.
                    </p>
                    <hr />
                  </li>

                  <li>
                    <h5><i class="fa fa-check-square-o process-icon" aria-hidden="true"></i>Publication</h5>
                    <p>
                      Here is a brief description of the publication part of the process.
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>


  <footer class="footer">

      <!--Footer Links-->
      <div class="container-fluid container-footer">
          <div class="row d-flex footer-style pt-3 pl-5 pr-5">
              <div class="col-12 col-sm-6 col-md-6">
                <div class="row">
                  <h5 class="title">Virtue. Vision. Voice</h5>
                </div>
                <div class="row">
                  Give us your vision
                </div>
                <div class="row">
                  We collaborate
                </div>
                <div class="row">
                  We make it beautiful
                </div>
                <div class="row social-media mt-4 mb-3">
                  <a class="facebook" href="http://www.facebook.com/kmitchellmediallc"><i class="fa fa-facebook fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="twitter" href="http://www.twitter.com/kmitchellmedia"><i class="fa fa-twitter fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="vimeo" href="http://www.vimeo.com/kmitchellmediallc"><i class="fa fa-vimeo fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="instagram" href="http://www.instagram.com/kmitchellmedia"><i class="fa fa-instagram fa-2x mr-3" aria-hidden="true"></i></a>
                </div>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Menu</h5>
                  <p>
                      <a href="/home">Home</a><br />
                      <a href="/about">About</a><br />
                      <a href="/portfolio">Portfolio</a><br />
                      <a href="/services">Services</a><br />
                      <a href="/faq">FAQ's</a><br />
                      <a href="/contact">Contact</a>
                  </p>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Contact</h5>
                  <p>
                      Kathryn Mitchell <br />
                      P.O. Box 10355 <br />
                      Phoenix, AZ 85064 <br />
                      (520) 261-2746
                  </p>
              </div>
          </div>
      </div>

      <div class="footer-legalline">
          <div class="container-fluid text-center py-3">
              © 2018 K Mitchell Media, LLC | All Rights Reserved
          </div>
      </div>
  </footer>
</html>
